*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
  }

body {
    font-family: Arial, sans-serif;
    background-color: #1c1a1a;
    color: rgb(244, 241, 241);
  }
  
  .container {
    max-width: 100%;
    margin: 30px auto;
    padding: 40px;
    background-color: #050505;

  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  header {
    padding: 30px;
  }
  
  .logo {
    
    font-size: 24px;
    font-weight: bold;
    color: #eb6004;

  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul {
    display:flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    margin-top: 50px;
    padding-top: 30px;
  }
  
  nav ul li a:hover {
    color: #555;
  }

  
  .movie-detail {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 0;
  }
  
  .movie-image {
    width: 80%;
    height: 90%;
  }
  
  .movie-description {
    padding-top: 40px;
    display: block;
  }
  
  .movie-info {
    margin-bottom: 50px;
  }
  
  .movie-episode {
    display:grid;
    grid-template-columns: 1fr 2fr;
    height:fit-content;
    margin-bottom: 20px;
    border-style:double;
    padding: 5px;
  }
  
  .episode-image {
    
    width: 100%;
    height: 100%;
    
  }
  
  .episode-info {
    padding-top: 50px;
    margin-left: 10px;
  }
  
  .episode-title {
    font-weight: bold;
  }
  
  .episode-duration {
    color: #ece8e8;
  }